[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SpidermiR"]
	path = SpidermiR
	url = https://github.com/claudiacava/spidermir
	shallow = true
	registered = true
[submodule "StarBioTrek"]
	path = StarBioTrek
	url = https://github.com/claudiacava/starbiotrek
	shallow = true
	registered = true
